* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;

}

.discount {
    text-align: center;
    background-color: aqua;
    padding: 5px;
}

.logo {
    width: 50px;
    height: 50px;
}

.container {
    padding: 0 20px;
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    gap: 10px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 3px;

}

li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 14px 16px;
    display: block;
    background-color: #ffffff;
}

.service-page.cart-icon {
    display: flex;

}

.service-page.cart-icon {
    display: flex;
}

.cart-icon {
    display: flex;
    align-items: center;
    gap: 12px;

}

.nav-selction {
    margin-left: auto;
}

.shop-btn {
    background-color: #ffa500;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 4px;
}

hr {
    height: 20px
}

.nav-heading {
    color: #ffa500;
}

.banner-img {
    width: 100%;
    height: 60%;
}

.banner-section {
    width: 100%;
    height: 90vh;
    margin-top: 0px;
    background-image: url("../image/banner/food-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-section {
    padding: 30px;
    font-size: 20px;

}

.banner-text-wrapper {
    margin-top: 160px;
    width: 50%;
    margin-bottom: 15px;
    margin-left: 20px;
}

.banner-section .banner-text-wrapper .food-content {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    margin-bottom: 18px;

}

.banner-section .banner-text-wrapper .show-btn {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ffa500;

}

.banner-section .banner-text-wrapper .offer {
    color: #ffa500;
}
.food-card{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.food-card{
    position: relative;
}
