* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    text-transform: uppercase;

}

.discount {
    text-align: center;
    background-color: aqua;
    padding: 5px;
}

.logo {
    width: 50px;
    height: 50px;
}

.container {
    width: 100%;
    padding: 30px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}


ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 3px;

}

li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 14px 16px;
    display: block;
    background-color: #ffffff;
}

.service-page.cart-icon-link {
    display: flex;

}

.service-page.cart-icon-link {
    display: flex;
}

.cart-icon-link {
    display: flex;
    align-items: center;
    gap: 12px;

}

.nav-selction {
    margin-left: auto;
}

.shop-btn {
    background-color: #ffa500;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 4px;
}

hr {
    height: 20px
}

.nav-heading {
    color: #ffa500;
}

.banner-img {
    width: 100%;
    height: 60%;
}

.banner-section {
    width: 100%;
    height: 90vh;
    margin-top: 0px;
    background-image: url("../image/banner/food-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.banner-section {
    padding: 30px;
    font-size: 20px;

}

.banner-text-wrapper {
    margin-top: 160px;
    width: 50%;
    margin-bottom: 15px;
    margin-left: 20px;
}

.banner-section .banner-text-wrapper .food-content {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    margin-bottom: 18px;

}

.banner-section .banner-text-wrapper .show-btn {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ffa500;

}

.banner-section .banner-text-wrapper .offer {
    color: #ffa500;
}

a:-webkit-any-link {
    color: #000000;
    /* change text color */
    display: block;
    /* optional: make block */
    text-decoration: none;
}

.food-img img {
    width: 120px;
    /* decrease width here */
    height: auto;
    border-radius: 6px;
}

.food-card {
    width: 100%;
    margin-bottom: 20px;

}

.food-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.food-card-content {
    text-align: center;
    margin: 8px;
}

.card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffa500;

}

.product-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 49px;

}

.product-card {
    width: 225px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
    margin: 15px;

}

.product-card .product-img img {
    width: 250px;
    height: auto;

}

.addcart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 30px;
}

.addcart-icon .addcart-btn #cart {
    padding: 7px;
    background-color: #ffa500;
}


.addcart-btn {
    background-color: #ffa500;
    color: #fff;
    padding: 7px 9px;
    border: none;
    border-radius: 1px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

.cart-icon {
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #3b3939;
}

.shop-by-range-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.3fr));
    gap: 20px;
    place-items: center;
    margin-left: 80px;
}


.card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


.card-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    width: 90%;
}

.shop-container {
    margin: 20px;
}

.thumble-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.thumble-image-sec {
    width: 300px;
    height: auto;
}

.thumble-image-sec img {
    width: 100%;
}

.thumble-section {
    width: 40%;
    margin-bottom: 20px;
}

.freeshooping-wrapper {
    display: flex;
}

.freeshooping-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.thumble-para {
    margin-bottom: 24px;
}

.post-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 0px 140px;


}

.poster-card-section {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.poster-card {
    width: 300px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
    padding: 8px;
}

.poster-card-img {
    width: 100%;
}

.poster-card-btn {
    padding: 7px;
    border: 1px solid orange;
    background-color: #ffffff;
    color: #ffa500;
}

.poster-btn {
    margin-bottom: 10px;
}

.customer-titile {
    text-align: center;
}

.poster-cart-btn {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}